* {
    background-color: white;
    font-family: monospace; 
}

.h1 {
    display: flex;
    font-size: 1rem;
    font-weight: 100;
}

.navbar {
    display: flex;
    flex-direction: column;
    font-size: .85rem;
    margin-left: 1.5rem;
    line-height: 1.5rem;

    a {
        text-decoration: none;
        color: inherit;  
    }
}