* {
    background-color: white;
    font-family: monospace; 
    cursor: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiI+PGNpcmNsZSBjeD0iNiIgY3k9IjYiIHI9IjUiIGZpbGw9ImJsYWNrIi8+PC9zdmc+') 6 6, auto;

}

.thumbnail {
    display: flex;
    align-items: flex-end;
    bottom: 5rem;
    position: absolute;
    gap: .4rem;
    
    .thumbnail-foundry {
        width: 30rem;
        object-fit: contain;
        clip-path: inset(0 15rem 0 .5rem);
        margin-right: -15rem;
        margin-left: -.5rem;
    }

    .thumbnail-wino {
        width: 25rem;
        object-fit: contain;
    }

    // .thumbnail-ode {
    //     width: 20rem;
    //     object-fit: contain;
    // }

    .thumbnail-researchrepo {
        width: 30rem;
        object-fit: contain;
        clip-path: inset(0 .5rem 0 0);
    }

    .thumbnail-foid {
        width: 20rem;
        object-fit: contain;
    }

    .thumbnail-bed {
        width: 20rem;
        object-fit: contain;
    }

    

    // img[src="/images/researchrepo.gif"] {
    //     clip-path: inset(0 40% 10% 0);  /* top right bottom left */
    // }

    // img[src="/images/ode_landing.png"] {
    //     clip-path: inset(0 40% 10% 0);  /* top right bottom left */
    // }
}   


h1 {
    display: flex;
    font-size: .85rem;
    font-weight: 100;
    top: 1rem;
    left: 3.5rem;
    margin-bottom: 2rem;
    position: fixed;
    z-index: 3;
    background-color: white;

    a {
        text-decoration: none;
        color: inherit;
        background-color: transparent;
    }
}

.navbar {
    display: flex;
    position: fixed;
    flex-direction: row;
    font-size: .85rem;
    top: 4rem; // Position from top of viewport
    left: 2rem; // Position from left of viewport
    line-height: 1.5rem;
    z-index: 2;
    background-color: transparent;
    margin-right: 3rem;

    a {
        text-decoration: none;
        color: inherit;
        background-color: transparent;
    }

    .navbar_first {
        display: flex;
        flex-direction: column;
        font-size: .85rem;
        margin-left: 1.5rem;
        line-height: 1.5rem;
        background-color: transparent;
    }

    .navbar_second {
        display: flex;
        flex-direction: column;
        font-size: .85rem;
        margin-left: 8rem;
        line-height: 1.5rem;
        background-color: transparent;
    }

    .navbar_third {
        display: flex;
        flex-direction: column;
        font-size: .85rem;
        margin-left: 8rem;
        line-height: 1.5rem;
        background-color: transparent;
    }
}


.image-content-right {
    right: 0;
    left: auto !important;
}

.image-content {
    display: flex;
    flex-direction: column;
    top:0;
    left: 0;
    max-width: 65rem;
    position: absolute;
    z-index: 1;
    gap: .5rem;
    filter: brightness(1.2);

    img {
        width: 100%;
        height: auto;
    }

    img[src="/images/odegif.webp"] {
        filter: brightness(.9); 
        transform: scale(1.4);
        margin-top: 10rem;
    }

    img[src="/images/chess1.webp"] {
        filter: brightness(.9) sepia(0.02);
        
    }

    img[src="/images/wino_cover.webp"] {
        filter: brightness(.9); 
        
    }

    img[src="/images/wino_open.webp"] {
        filter: brightness(.85); 
        
    }

    img[src="/images/wino.webp"] {
        filter: brightness(.95); 
        
    }

    img[src="/images/chess4.webp"] {
        filter: brightness(.9); 
        
    }

    img[src="/images/chess5.webp"] {
        filter: brightness(1) sepia(0.1) saturate(1.1); 
        
    }

    img[src="/images/foundry.gif"] {
        clip-path: inset(.5rem .5rem .5rem .5rem);
    }


    img[src="/images/researchrepo.gif"] {
        clip-path: inset(0 .5rem 0 0);
    }

    img[src="/images/ode_landing.png"] {
        filter: brightness(.9);
        
    }

    img[src="/images/pnp2.webp"] {
        filter: brightness(.9) sepia(0.1); 
    }

    img[src="/images/pnp3.webp"] {
        filter: brightness(.7);
    }

    img[src="/images/pnp4.webp"] {
        filter: brightness(.9) ;
        
    }

    img[src="/images/bed2.webp"] {
        filter: brightness(1.1) sepia(0.1);
    }

    img[src="/images/bed1.webp"] {
        filter: brightness(.95) sepia(0.1);
    }

    img[src="/images/bed3.webp"] {
        filter: brightness(.95);

    }

    img[src="/images/bed4.webp"] {
        filter: brightness(.95) sepia(0.1);

    }

    img[src="/images/altinter.png"] {
        border: .25px solid black;
        
    }

    img[src="/images/foid.webp"] {
        width: 5rem;
    }
}

.cursor-follow-image {
    position: fixed;
    pointer-events: none;
    display: none;
    z-index: 9999;
    width: 15rem;
    transform: translate(-20%, -15%);
    background-color: transparent;

    &.active {
        display: block;
    }
}

#ode-cursor-image {
    width: 120px; // Smaller than default 200px
    transform: translate(10%, 20%); // More to the right (10%) and down (20%)
}

#winogrand-cursor-image {// Smaller than default 200px
    filter: brightness(1.2);
}

#interview-cursor-image {// Smaller than default 200px
    filter: brightness(1.2);
}

#bed-cursor-image {// Smaller than default 200px
    filter: brightness(1.2);
}

#lettered-entities-cursor-image {// Smaller than default 200px
    filter: brightness(1.2);
}

#typefoundry-cursor-image {// Smaller than default 200px
    width: 100px;
    transform: translate(10%, 20%);
}

#aia-cursor-image {// Smaller than default 200px
    width: 10rem;
    transform: translate(-25%, -15%);
    clip-path: inset(25% 25% 25% 25%);  
}


.ode-text,
.pnp-text,
.winogrand-text,
.bed-text,
.interview-text,
.chess-text {
    font-size: .85rem;
    display: flex;
    flex-direction: column;
    margin-left: 66rem;
    margin-right: 3rem;
    max-width: 33rem;
    line-height: 1.3rem;
    margin-top: 20rem;
    background-color: transparent;
    position: relative;
    z-index: 2;
}

.title {
    font-size: .85rem;
    text-decoration: underline;
    background-color: transparent;
}

// ---------------------individual image styles---------------------
