---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import '../styles/styles.scss';
---

<Layout>
	<Navbar />

<div class="image-content">
    <img src="/images/alternate-internet-archive.webp" alt="alternate internet archive" />
</div>
</Layout>

