---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import '../styles/styles.scss';
---

<Layout>
	<Navbar />

<div class="bed-text">
    <div class="title">bed</div>
    <br /><br />
    Based on a Color Study from several of Ronald van der Kemp's collections, this book is an abstract exploration of its pieces. All images are taken directly from RVDK's runways and photoshoots.
    <br /><br />
    Made entirely of muslin.
</div>

<div class="image-content">
    <img src="/images/bed2.webp" alt="bed" />
    <img src="/images/bed1.webp" alt="bed" />
    <img src="/images/bed3.webp" alt="bed" />
    <img src="/images/bed4.webp" alt="bed" />
</div>
</Layout>
