---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import '../styles/styles.scss';
---

<Layout>
	<Navbar />

<div class="chess-text">
    <div class="title">lettered entities</div>
    <br /><br />
    <!-- Add your lettered entities text content here -->
</div>

<div class="image-content">
    <img src="/images/chess1.webp" alt="lettered entities" />
    <img src="/images/chess2.webp" alt="lettered entities" />
    <img src="/images/chess3.webp" alt="lettered entities" />
    <img src="/images/chess4.webp" alt="lettered entities" />
    <img src="/images/chess5.webp" alt="lettered entities" />

</div>
</Layout>

