---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import '../styles/styles.scss';
---

<Layout>
	<Navbar />

	<!-- <div class="image-content">
		<img src="/images/p&p_cover.webp" alt="irene park" />
	</div> -->
</Layout>
