---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import '../styles/styles.scss';
---

<Layout>
	<Navbar />
		<div class="thumbnail">
			<img src="/images/foundry_landing.gif" class="thumbnail-foundry"/>
			<img src="/images/wino_foundry.webp" class="thumbnail-wino"/>
			<!-- <img src="/images/ode_landing.png" class="thumbnail-ode"/> -->
			<img src="/images/researchrepo.gif" class="thumbnail-researchrepo"/>
			<img src="/images/foid.webp" class="thumbnail-foid"/>
			<img src="/images/bed4.webp" class="thumbnail-bed"/>
			
		</div>
</Layout>
