---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import '../styles/styles.scss';
---

<Layout>
	<Navbar />

<div class="ode-text">
    <div class="title">ode to the book</div>
    <br /><br />
    This book takes a short excerpt from 'Ode to the Book' by Pablo Neruda. Working within a size constraint, the use of white space becomes the focus of attention. The final product showcases the balance between negative space and type, and how the layering of imagery can portray a new picture.
</div>

<div class="image-content">
    <img src="/images/ode_3.png" alt="ode to the book" class="ode-cover2"/>
    <img src="/images/ode_landing.png" alt="ode to the book" class="ode-cover"/>
    <img src="/images/odegif.webp" alt="ode to the book" class="ode1"/>
</div>
</Layout>

