---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import '../styles/styles.scss';
---

<Layout>
	<Navbar />

<div class="ode-text">
    This book takes a short excerpt from 'Ode to the Book' by Pablo Neruda. The project required us to work within a tabloid sized page to showcase the balance between white space and type.

</div>

<div class="image-content">
    <img src="/images/odegif.webp" alt="ode to the book" class="ode1"/>
</div>
</Layout>

