---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import '../styles/styles.scss';
---

<Layout>
	<Navbar />

<div class="pnp-text">
    <div class="title">people & places</div>
    <br /><br />
    I compiled a book called “People & Places”. The collection is meant to showcase a moment of strangers. This was heavily influenced by Garry Winogrand, straying away from posed figures and leaning towards the unguarded human form. Much like Winogrand’s attitude towards photography, the process of image taking almost began to look accidental. The viewfinder became less important, leading to the process becoming focused on spontaneity and the confidence to take a picture.

    <br /><br />
    Taken using my Pentax K1000 on Ilford film.
</div>

<div class="image-content">
    <img src="/images/pnp.webp" alt="people & places" />
    <img src="/images/pnp2.webp" alt="people & places" />
    <img src="/images/pnp3.webp" alt="people & places" />
    <img src="/images/pnp4.webp" alt="people & places" />
</div>
</Layout>
