---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import '../styles/styles.scss';
---

<Layout>
	<Navbar />

<div class="winogrand-text">
    <div class="title">ode to the book</div>
    <br /><br />
    desc
</div>

<div class="image-content">
    <img src="/images/wino_cover.webp" alt="lessons with winogrand" />
    <img src="/images/wino.webp" alt="lessons with winogrand" />
    <img src="/images/wino_open.webp" alt="lessons with winogrand" />
</div>
</Layout>
